:root {
  --color-primary: #ff374a;
  --color-secondary: #5865f2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.image-pull {
  @apply -mx-12;
}

.image-float {
  @apply float-left -ml-12;
}

.image-float.half {
  @apply w-1/2;
}

.image-float.quater {
  @apply w-1/4;
}

.prose .image-float img {
  @apply mt-0;
}

.prose img {
  @apply rounded-md;
}

.youtube-link {
  @apply block relative after:absolute after:top-1/2 after:left-1/2 after:w-40 after:h-40 after:-ml-20 after:-mt-20 after:bg-opacity-40 after:bg-gray-300 after:rounded-2xl;
}

.youtube-link:after {
  content: url(/images/videos/play.svg);
}
