---
import ThemeToggle from "./ThemeToggle.astro"
import ForMom from "./ForMom.astro"
---
<footer class="w-full m-0 p-0 bg-cover bg-bottom">
  <div class="border-t border-gray-200 dark:border-gray-800">
    <div class="md:container md:mx-auto break-normal p-4 flex items-stretch">
      <div class="flex-auto">
        <ThemeToggle />
        <ForMom />
      </div>
      <div class="flex-auto font-sans text-lg sm:text-2xl font-bold tracking-tighter text-right leading-9">
        <a href="/about">About</a> <a href="/">Thomas<span class="text-primary">.</span>Stachl</a>
      </div>
    </div>
  </div>
</footer>