---
import categoryData from "../../data/categories.json"

export interface Props {
  categories: Array<string>;
}

const { categories } = Astro.props;
---
<ul class="float-right text-sm uppercase font-bold tracking-wide leading-8 hidden md:flex">
  {[...new Set(categories)].map((category) => (
    <li class="ml-2">
      <a class="hover:text-primary" href={categoryData[category].url}>{categoryData[category].name}</a>
    </li>
  ))}
</ul>
