<label class="cursor-pointer theme-toggle">
  <div class="relative inline-block group">
    <input type="checkbox" class="peer sr-only">
    <div class="flex bg-gray-600 w-14 h-8 rounded-full">
      <span class="flex-1 text-center leading-8">🌜</span>
      <span class="flex-1 text-center leading-8">🌞</span>
    </div>
    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition group-hover:shadow-toggle peer-checked:translate-x-full peer-checked:text-opacity-100"></div>
  </div>
</label>

<script>
  const toggleInput = document.querySelector(".theme-toggle input");
  // this just checks if we have dark mode enabled and checks the toggle
  if (document.documentElement.classList.contains('dark')) {
    toggleInput.click();
  }

  // this takes care of the changes and stores them in localStorage
  toggleInput.addEventListener("change", (e) => {
    console.log('changed', toggleInput.checked, e.target.checked);
    if (e.target.checked) {
      document.documentElement.classList.add('dark');
      localStorage.theme = 'dark';
    } else {
      document.documentElement.classList.remove('dark');
      localStorage.theme = 'light';
    }
  });
</script>