---
export interface Props {
  url: string;
  src: string;
  name: string;
}

const { url, src, name } = Astro.props;
---
<div class="inline-block mr-2">
  <a href={url}>
    <img class="h-10 md:h-11 lg:h-12 rounded-full ring-1 ring-gray-900 dark:ring-gray-100" src={src} alt={name} />
  </a>
</div>