---
import BannerImage from '../components/BannerImage.astro';
import BannerVideo from '../components/BannerVideo.astro';
import BannerYoutube from '../components/BannerYoutube.astro';

export interface Props {
  srcs: Array<string>;
}

const { srcs } = Astro.props;
---
<div class="w-full h-96 flex flex-row gap-4 mb-8">
  {srcs.map((el) => {
    if (el.endsWith('.jpg') || el.endsWith('.png')) {
      return <BannerImage src={el} />
    }

    if (el.endsWith('.mp4')) {
      return <BannerVideo src={el} />
    }

    if (el.includes('youtube.com')) {
      return <BannerYoutube src={el} />
    }
  })}
</div>