---
import Image from '../components/Image.astro';

export interface Props {
  srcs: Array<string>;
}

const { srcs } = Astro.props;
---
<div class="w-full h-96 flex flex-row gap-4 mb-4">
  {srcs.map((el) => (
    <div class="h-full flex-1">
      <Image className="rounded-md object-cover h-full w-full" src={el} alt="" />
    </div>
  ))}
</div>