---
import BannerImage from '../components/BannerImage.astro';
import BannerVideo from '../components/BannerVideo.astro';

export interface Props {
  srcs: Array<string>;
}

const { srcs } = Astro.props;
---
<div class="w-full h-96 flex flex-row gap-4 mb-4">
  {srcs.map((el) => {
    if (el.startsWith('https://video.gumlet')) {
      return <BannerVideo src={el} />
    }

    return <BannerImage src={el} />
  })}
</div>