---
export interface Props {
  src: string;
}
// src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"

const { src } = Astro.props;
---
<div class="h-full flex-1">
  <iframe class="rounded-md object-cover h-full w-full" type="text/html"
    src={src} frameborder="0"></iframe>
</div>


