---
import type { CollectionEntry } from "astro:content"
import { Image } from "astro:assets"

type Props = {
  post: CollectionEntry<"pages" | "posts">
}

const { post } = Astro.props
const { banner } = post.data
---

<div class="w-full h-96 flex-row gap-4 mb-4">
  <div class="h-full flex-1">
    <Image
      class="rounded-md object-cover h-full w-full"
      src={banner.src}
      alt={banner.alt || ""}
      widths={[240, 360, 480, 720, 1080]}
    />
  </div>
</div>
