---
import Video from "./Video.astro"

export interface Props {
  src: string;
  className: string;
}
---
<div class="aspect-w-16 aspect-h-9">
  <Video className={Astro.props.className} src={Astro.props.src} />
</div>
