---
import ThemeToggle from "./ThemeToggle.astro"
---
<footer class="w-full m-0 p-0 bg-cover bg-bottom">
  <div class="border-t border-gray-200 dark:border-gray-800">
    <div class="md:container md:mx-auto break-normal p-4 flex">
      <div class="flex-auto">
        <ThemeToggle />
      </div>
      <div class="flex-auto font-sans text-2xl font-bold tracking-tighter text-right">
        Thomas<span class="text-primary">.</span>Stachl
      </div>
    </div>
  </div>
</footer>