---
import Nav from "./Nav.astro"
import Divider from "./Divider.astro"

export interface Props {
  categories: Array<string>;
}

const { categories } = Astro.props;
---

<header class="w-full m-0 p-0 bg-cover bg-bottom">
  <div class="md:container md:mx-auto pt-8 text-center">
    <a href="/">
      <img class="inline-block h-24 w-24 rounded-full ring-2 ring-gray-900 dark:ring-gray-100" src="https://stachl.gumlet.io/thomas.png?w=96" alt="Thomas Stachl" />
    </a>
    <p class="mt-4 font-bold tracking-tight">Love the life you're living!</p>
    <Divider />
  </div>
  <div class="border-b border-gray-200 dark:border-gray-800">
    <div class="md:container md:mx-auto break-normal p-4 flex">
      <div class="flex-auto font-sans text-2xl font-bold tracking-tighter">
        <a href="/">Thomas<span class="text-primary">.</span>Stachl</a>
      </div>
      <div class="flex-auto">
        <Nav categories={categories} />
      </div>
    </div>
  </div>
</header>
