---
import Nav from './Nav.astro';
---

<header class="w-full m-0 p-0 bg-cover bg-bottom">
  <div class="md:container md:mx-auto pt-8 text-center">
    <a href="/">
      <img class="inline-block h-24 w-24 rounded-full ring-2 ring-gray-900 dark:ring-gray-100" src="/thomas.png" height="130" alt="Thomas Stachl" />
    </a>
    <hr class="mt-8 border-none bg-gradient-to-r 
      from-gray-100 via-gray-200 to-gray-100
      dark:from-gray-900 dark:via-gray-800 dark:to-gray-900" style="height: 1px;">
  </div>
  <div class="border-b border-gray-200 dark:border-gray-800">
    <div class="md:container md:mx-auto break-normal p-4 flex">
      <div class="flex-auto font-sans text-2xl font-bold tracking-tighter">
        Thomas<span class="text-primary">.</span>Stachl
      </div>
      <div class="flex-auto">
        <Nav />
      </div>
    </div>
  </div>
</header>
