---
// collection
import categories from "../data/categories.json"
---
<ul class="flex float-right text-sm uppercase font-bold tracking-wide leading-8">
  {Object.keys(categories).map((category) => (
    <li class="ml-2">
      <a class="hover:text-primary" href={categories[category].url}>{categories[category].name}</a>
    </li>
  ))}
</ul>
