---
import { type CollectionEntry, getEntry } from "astro:content"

type Props = {
  post: CollectionEntry<"posts">
}

const { post } = Astro.props
const { date } = post.data
const category = await getEntry(post.data.category)
---

<div class="mb-2 text-sm text-primary lg:mb-4">
  <span class="uppercase">
    <a href={`/categories/${category.id}`} rel="category"
      >{category.data.name}</a
    >
  </span>
  <span
    class="relative pl-14 before:absolute before:w-8 before:h-px before:bg-primary before:left-3 before:top-[calc(50%-1px)]"
  >
    <time datetime={date.toString()}
      >{
        new Intl.DateTimeFormat("en-US", {
          month: "long",
          day: "numeric",
          year: "numeric",
        }).format(date)
      }</time
    >
  </span>
</div>
