<label class="cursor-pointer">
  <div class="relative inline-block toggle">
    <input type="checkbox" class="theme-toggle sr-only">
    <div class="flex bg-gray-600 w-14 h-8 rounded-full">
      <span class="flex-1 text-center leading-8">🌜</span>
      <span class="flex-1 text-center leading-8">🌞</span>
    </div>
    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
  </div>
</label>

<style>
  .toggle:hover .dot {
    box-shadow: 0 0 2px 3px rgba(255, 55, 74, var(--tw-text-opacity));
  }

  input:checked ~ .dot {
    transform: translateX(100%);
    --tw-text-opacity: 1;
  }
</style>

<script>
document.querySelector("input.theme-toggle").addEventListener("change", (e) => {
  if (e.target.checked) {
    document.documentElement.classList.add('dark');
    localStorage.theme = 'dark';
  } else {
    document.documentElement.classList.remove('dark');
    localStorage.theme = 'light';
  }
});

if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
  document.querySelector("input.theme-toggle").click();
}
</script>