---
export interface Props {
  src: string;
  className: string;
}

const { src, className } = Astro.props;
---
<div class={className}>
  <video
    class="video-js vjs-theme-city w-full h-full"
    poster={`${src}/thumbnail-1-0.png`}
    preload="auto"
    controls
    data-setup={'{}'}>
    <source src={`${src}/1.m3u8`} type="application/x-mpegURL">
  </video>
</div>
