---
import { ViewTransitions } from "astro:transitions"
import BaseHead, { type Props as HeadProps } from "@components/BaseHead.astro"

import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"

export type Props = HeadProps & { showHeader?: boolean }

const { showHeader = true, ...head } = Astro.props
const isProd = import.meta.env.PROD
---

<!doctype html>
<html lang="en" class="antialiased break-words">
  <head>
    <BaseHead {...head} />
    <script>
      if (localStorage.theme === "dark") {
        document.documentElement.classList.add("dark")
      }
    </script>
    <ViewTransitions />
  </head>

  <body
    class="min-h-screen md:text-lg lg:text-xl
    bg-gray-100 dark:bg-gray-900
    text-gray-800 dark:text-gray-300"
  >
    {showHeader && <Header />}

    <main class="md:mx-auto max-w-screen-lg pt-14 px-4">
      <slot />
    </main>

    <Footer />
    {
      isProd && (
        <script
          is:inline
          async
          defer
          src="https://scripts.withcabin.com/hello.js"
        />
      )
    }
  </body>
</html>
